html, body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
    font-size: 36px;
}

h2 {
    font-size: 25px;
    font-weight: 200;
    font-style: italic;
}

h4 {
    font-size: 20px;
    color: var(--white);
    font-weight: normal;
}

h3 {
    font-size: 25px;
    color: var(--white);
    font-weight: lighter;
    font-style:italic;
}

h5 {
    font-size: 20px;
    color: var(--orange);
    font-weight: lighter;
    font-style: italic;
}

h6 {
    font-size: 20px;
    color: var(--orange);
    font-weight: lighter;
    font-style: normal;
}

p {
    font-size: 20px;
    color: var(--red);
    font-weight: lighter;
    text-align: left; 
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

    footer > p {
        font-size: 12px;
    }

button {
    margin: 0px auto;
    display: block;
    padding: 5px 10px;
    border: none;
}


.circular_square {
    border-radius: 50%;
}

.titlecard {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 40px;
    padding-right: 50px;
    padding-left: 50px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 100px;
 
}

.nav a {
    float: left;
    color: var(--white);
    text-align: center;
    padding-right: 16px;
    padding-bottom: 10px;
    padding-left: 16px;
    text-decoration: none;
    font-size: 2vw;
    font-weight: bold;
    font-style: normal;
}

.nav a:hover {
    color:var(--red);
    font-weight: normal;
    font-style: italic;
}

.highlight {
    background-color: black;
    display:  flex;
}

.highlight img:hover {
    opacity: .5;
}