:root {
    --red: #ff6f69;
    --black: #000000;
    --orange: #FB9214;
    --white: #FFFFFF
}

html, body {
    background: var(--black);
    color: var(--red);
}

button {
    background: var(--red);
    color: var(--orange);
}

