/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;

}


.section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.titlecard {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 40px;
    padding-right: 50px;
    padding-left: 50px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 100px;
}

.nav a {
    float: left;
    color: var(--white);
    text-align: center;
    padding-right: 16px;
    padding-bottom: 10px;
    padding-left: 16px;
    text-decoration: none;
    font-size: 2vw;
    font-weight: bold;
    font-style: normal;
}

.nav a:hover {
    color: var(--red);
    font-weight: normal;
    font-style: italic;
}

.highlight {
    background-color: black;
    display: flex;
}

    .highlight img:hover {
        opacity: .5;
    }

.card {
    position: relative;
    transition: 0.3s;
    background-color: #ff6f69;
    background-size: cover;
    width: 380px;
    height: auto;
    padding: 20px;
    box-shadow: #aa3c37 15px 15px;
}

.container {
    position: relative;
    text-align: center;
    color: white;
    
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.top-left {
    position: absolute;
    top: 8px;    left: 16px;
}

.link-bar {
    position: absolute;
    bottom: 8px;
    left: 0;

}

@media screen and (max-width:1200px) {
    .column {
        width: 100%;
    }
}

.img-container{
    position: relative;
    width: 100%;
}


.gray {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(38,38,38,0.5);
    opacity:1;
}

    .gray:hover {
       opacity:0;
    }