/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;

}


.section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.titlecard {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 40px;
    padding-right: 50px;
    padding-left: 50px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 100px;
}

.nav a {
    float: left;
    color: var(--white);
    text-align: center;
    padding-right: 16px;
    padding-bottom: 10px;
    padding-left: 16px;
    text-decoration: none;
    font-size: 2vw;
    font-weight: bold;
    font-style: normal;
}

.nav a:hover {
    color: var(--red);
    font-weight: normal;
    font-style: italic;
}

.highlight {
    background-color: black;
    display: flex;
}

    .highlight img:hover {
        opacity: .5;
    }

.card {
    position: relative;
    transition: 0.3s;
    background-color: #ff9a96;
    background-size: cover;
    width: 380px;
    height: auto;
    padding: 20px;
    box-shadow: var(--red) 15px 15px;
}


/*    
 Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}